## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key

from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
g_key

'AIzaSyAfkA_ElPgzBs5aBWbrfhr5o2z0VH_YKh0'

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/weatherpy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Flin Flon,CA,51.84,overcast clouds,54.7682,-101.8650,Victoria Inn Flin Flon
1,2,Busselton,AU,70.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
2,3,Marawi,PH,75.00,overcast clouds,7.9986,124.2928,Derogongan Residence
3,4,Waipawa,NZ,56.34,light rain,-41.4122,175.5153,Tora Coastal Walk
4,5,Lazaro Cardenas,MX,79.29,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
5,6,Pisco,PE,57.25,scattered clouds,-13.7000,-76.2167,Hotel San Isidro Oficial
6,7,Isla Mujeres,MX,77.16,broken clouds,21.2311,-86.7310,Hotel La Joya Isla Mujeres
7,8,Makakilo City,US,80.56,few clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
8,9,Kruisfontein,ZA,60.89,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
9,10,Mount Gambier,AU,54.75,overcast clouds,-37.8333,140.7667,The Commodore

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:

# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Fortuna']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Fortuna']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Guerrero Negro']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Dodge City'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Havelock'] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
138,184,Havelock,US,68.94,overcast clouds,34.8791,-76.9013,Sherwood Motel

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start.iloc[0,5:7].to_numpy()
#end = vacation_end.iloc[0,5:7].to_numpy()
#stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
#stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
#stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

#start



start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

In [8]:

# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Fortuna = start
Guerrero = stop1
Dodge = stop2
Havelock = stop3 
roadtrip = gmaps.directions_layer(Fortuna, Fortuna, 
                                  waypoints=[Guerrero, Dodge, Havelock],
                                  travel_mode="DRIVING")
fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:

# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,338,Fortuna,US,53.98,broken clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
1,488,Guerrero Negro,MX,74.73,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
2,258,Dodge City,US,67.93,clear sky,37.7528,-100.0171,Windsor Inn & Suites
3,184,Havelock,US,68.94,overcast clouds,34.8791,-76.9013,Sherwood Motel

In [10]:

# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
fig = gmaps.figure()
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
#fig.add_layer(roadtrip)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))